.side-bar 
  .header    
    .top-items
      .top-items__name
        yuki
      .top-items__icons
        .li.list
          = link_to "#", class:'icon' do
            =icon 'far fa-edit', class: 'icon'
        .li.list
          = link_to "#" , class: 'icon' do
            =icon 'fas fa-cog', class: 'icon'

  .side-bar__group-list
    .group
      .group__name
        グループ名
      .group__message
        まだメッセージがありません
    .group
      .group__name
        グループ名
      .group__message
        まだメッセージがありません
    .group
      .group__name
        グループ名
      .group__message
        まだメッセージがありません
    .group
      .group__name
        グループ名
      .group__message
        まだメッセージがありません