.chat-main {
  width: calc(100vw - 300px);
  float: left;
}

.main-header {
  height: 100px;
  padding: 0 40px;
  display: flex;
  background-color: #ffffff;
  justify-content: space-between;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #eeeeee;

  &__left-box {
    margin-top: 35px;
  }

  &__left-box__group-name {
    color: #333333;
    font-size: 20px;
    margin-bottom: 15px;
  }

  &__left-box__member {
    font-size: 12px;
    color: #999999;
    display: flex;
  }

  &__left-box__member-name {
    color: #999999;
    display: flex;
    font-size: 12px;
  }
} 

.edit-btn {
  height: 40px;
  border: solid 1px;
  border-color: #38aef0;
  font-size: 16px;
  color: #38aef0;
  line-height: 40px;
  position: absolute;
  right: 40px;
  padding: 0px 20px;
  margin-top: 30px;
  text-decoration: none;
}

.chat-main__message-list {
  overflow: scroll;
  height: calc( 100vh - 100px - 90px);
  background-color: #fafafa;
  padding: 46px 40px;
}

.message {
  &__info {
    display: flex;
    padding-bottom: 10px;
  }
  &__info-name {
    color: #333333;
    font-size: 16px;
    font-weight: bold;
    padding: 35px 0 0 40px;
  }

  &__info-date{
    color: #999999;
    font-size: 12px;
    padding: 35px 0 0 40px;
  }

  &__text {
    color: #434A54;
    font-size: 14px;
    padding: 0 0 0 40px;
  }
}

.form {
  background-color: #d2d2d2;
  box-sizing: border-box;
  height: 90px;
  padding: 20px 50px 20px 40px;
  display: flex;
  
  &__message {
    display: flex;
    border: none;
    float: left;
    height: 50px;
    width: calc(100% - 150px);
  }
  &__mask {
    position: relative;
    //background-color: $white;
    float: left;
    height: 50px;
    padding-right: 10px;

    &__image {
      position: absolute;
      top: 1px;
      right: 25px;
      font-size: 20px;
      line-height: 50px;
    }
    .hidden {
      display: none;
    }
  }
  &__submit-btn {
  height: 50px;
  background-color: #38aef0;
  color: #ffffff;
  float: right;
  margin-left: 15px;
  padding: 0px 30px;
  font-size: 16px;
  }
}