.side-bar {
  width: 300px;
  .header {
  background-color: #253141;
  height: 100px;
  position: relative;
  }
  .top-items {
  height: 20px;
  width: 260px;
  margin: 0 auto;
  position: absolute;
  top: 40px;
  left: 20px;
  display: flex;
  justify-content: space-between;
  line-height: 20px;

    &__name {
      font-size: 16px;
      font-weight: bold;
      color: white;
    }

    &__icons {
      display: flex;
      margin: 0 0 0 auto;
      color: #ffffff;
      letter-spacing: 5px;
        a {
          color: white;
        }
    }
  }
}

.side-bar__group-list {
  background-color: #2f3e51;
  width: 300px;
  height: calc( 100vh - 100px);
}
.group {
  color: #ffffff;

  &__name {
    font-size: 15px;
    padding: 20px 0px 0px 20px;
  }

  &__message {
    font-size: 11px;
    padding: 5px 0px 40px 20px;
  }
}